<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="{{url_for('adminDashboard')}}" class="{% if activeMenu and activeMenu=='Dashboard' %}active{% endif %}"  ><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>

            <li>
                <a href="#" class="{% if activeMenu and activeMenu=='ManageClients' %}active{% endif %}"><i class="fa fa-table fa-fw"></i>Manage Clients</a>
            </li>

            <li>
                <a href="#" class="{% if activeMenu and activeMenu=='ManageUsers' %}active{% endif %}"><i class="fa fa-table fa-fw"></i>Manage Users</a>
            </li>
             <li>
                <a href="#">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Manage Categories<span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{url_for('adminCategoryList')}}" class="{% if activeSubMenu and activeSubMenu=='ManageParentCategories' %}active{% endif %}"><i class="fa fa-table fa-fw"></i>Parent Categories</a>
                    </li>
                    <li>
                       <a href="{{url_for('adminSubcategoryList')}}" class="{% if activeSubMenu and activeSubMenu=='ManageSubCategories' %}active{% endif %}"><i class="fa fa-table fa-fw"></i>Sub Categories</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="{{url_for('adminColorList')}}" class="{% if activeMenu and activeMenu=='ManageColors' %}active{% endif %}"><i class="fa fa-edit fa-fw"></i> Manage Color</a>
            </li>

            <li>
                <a href="{{url_for('adminSizeList')}}" class="{% if activeMenu and activeMenu=='ManageSizes' %}active{% endif %}"><i class="fa fa-edit fa-fw"></i> Manage Size</a>
            </li>

            <li>
                <a href="{{url_for('adminProductList')}}" class="{% if activeMenu and activeMenu=='ManageProducts' %}active{% endif %}"><i class="fa fa-edit fa-fw"></i> Manage Products</a>
            </li>
            <li>
                <a href="#" class="{% if activeMenu and activeMenu=='ManageOrders' %}active{% endif %}"><i class="fa fa-table fa-fw"></i>Manage Orders</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>